@model TinyMCE_TEXT_ENRICHED.Models.News

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: '#Content',
        plugins: "paste table image",
        height: 500,
        language: 'es',
        toolbar: "undo redo | styleselect | bold italic | fontselect fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table ",
        fontsize_formats: "7pt 8pt 10pt 12pt 14pt 18pt 24pt 36pt",
        content_css: ['../../content/fuentes.css'],
        font_formats: 'Andale Mono=andale mono,times; Arial=arial,helvetica,sans-serif; Arial Black=arial black,avant garde; Book Antiqua=book antiqua,palatino; Comic Sans MS=comic sans ms,sans-serif; Courier New=courier new,courier; Georgia=georgia,palatino; Helvetica=helvetica; Impact=impact,chicago; Symbol=symbol; Tahoma=tahoma,arial,helvetica,sans-serif; Terminal=terminal,monaco; Times New Roman=times new roman,times; Trebuchet MS=trebuchet ms,geneva; Verdana=verdana,geneva; Webdings=webdings; Wingdings=wingdings,zapf dingbats;Century Gothic=Century Gothic Regular',
        image_title: true,
        /* enable automatic uploads of images represented by blob or data URIs*/
        automatic_uploads: true,
        /*
          URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
          images_upload_url: 'postAcceptor.php',
          here we add custom filepicker only to Image dialog
        */
        file_picker_types: 'image',
        /* and here's our custom image picker*/
        file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            /*
              Note: In modern browsers input[type="file"] is functional without
              even adding it to the DOM, but that might not be the case in some older
              or quirky browsers like IE, so you might want to add it to the DOM
              just in case, and visually hide it. And do not forget do remove it
              once you do not need it anymore.
            */

            input.onchange = function () {
                var file = this.files[0];

                var reader = new FileReader();
                reader.onload = function () {
                    /*
                      Note: Now we need to register the blob in TinyMCEs image blob
                      registry. In the next release this part hopefully won't be
                      necessary, as we are looking to handle it internally.
                    */
                    var id = 'blobid' + (new Date()).getTime();
                    var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    var base64 = reader.result.split(',')[1];
                    var blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);

                    /* call the callback and populate the Title field with the file name */
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };

            input.click();
        }



    }); 


</script>

<h2>Index</h2>


<div class="panel panel panel-primary">

    <div class="panel-heading panel-head">Add News</div>
    <div class="panel-body">
        @using (Html.BeginForm("index","News",FormMethod.Post, new {enctype = "multipart/form.data" }))
        {
        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.NewsTitle, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.NewsTitle, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, new { @class = "col-lg-2 control-label" })

                <div class="col-lg-9">
                    @Html.TextBoxFor(model => model.Content, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <button class="btn btn-success" id="btnSubmit" type="submit">Oe</button>
                </div>
            </div>

        </div>
        }
    </div>
</div>